@{
    ViewData["Title"] = "OlvideMiContraseña";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvidé Mi Contraseña</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <div class="anashe">
        <h1>Olvidé Mi Contraseña</h1>
        <form action='@Url.Action("CambiarContraseña", "Home")' id="forgot-password-form" onsubmit="return isValidPassword()">
            <label for="UserName">Usuario</label>
            <input type="text" id="username" name="username" placeholder="Introduce tu nombre de usuario" required>
            <label for="new-password">Nueva contraseña</label>
            <input type="text" id="contraseña" name="contraseña" placeholder="Introduce tu nueva contraseña" required>
            <label for="new-password">Confirmar contraseña</label>
            <input type="text" id="nuevaContraseña" name="nuevaContraseña" placeholder="Introduce tu nueva contraseña" required>
            <button type="submit">Cambiar Contraseña</button>
        </form>
        <p><a href='@Url.Action("Index", "Home")'>Volver al Inicio de Sesión</a></p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function isValidPassword() {
            const newPassword = document.getElementById("contraseña").value;
            const confirmPassword = document.getElementById("nuevaContraseña").value;
            const minLength = 8;
            const uppercaseRegex = /[A-Z]/;
            const specialCharRegex = /[!#$%^&*()_+{}\[\]:;<>,.?~\\-]/;

            if (newPassword.length >= minLength && uppercaseRegex.test(newPassword) && specialCharRegex.test(newPassword)) {
                if (newPassword === confirmPassword) {
                    return true;
                } else {
                    showErrorAlert("Las contraseñas no coinciden.");
                    return false;
                }
            } else {
                showErrorAlert("La contraseña debe tener al menos 8 caracteres, una letra en mayúscula y un carácter especial.");
                return false;
            }
        }

        function showErrorAlert(message) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: message
            });
        }
    </script>
</body>
</html>