@{
    ViewData["Title"] = "Registro";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body>
    <div class="anashe">
        <h1>Registro de Usuario</h1>
        <form action='@Url.Action("Registrarse", "Home")' id="registration-form" onsubmit="return isValidPassword()">
            <label for="UserName">Usuario</label>
            <input type="text" id="UserName" name="UserName" placeholder="Introduce tu nombre" required>
            <label for="Contraseña">Contraseña</label>
            <div class="password-input">
                <input type="password" id="Contraseña" name="Contraseña" placeholder="Introduce tu contraseña" required>
                <i class="fas fa-eye" id="toggle-password"></i>
            </div>
            <label for="confirm-password">Confirmar Contraseña</label>
            <input type="password" id="Confirmacion-Contraseña" name="Contraseña" placeholder="Introduce tu contraseña"
                required>
            <label for="Mail">Correo Electrónico</label>
            <input type="text" id="Mail" name="Mail" placeholder="Introduce tu correo electrónico" required>
            <label for="Mail">Teléfono</label>
            <input type="text" id="Telefono" name="Telefono" placeholder="Introduce tu teléfono" required>
            <button type="submit">Registrarse</button>
        </form>
        <p><a href='@Url.Action("Index", "Home")'>Ya tienes una cuenta? Inicia Sesión</a></p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <script>
        function isValidPassword() {
            const password = document.getElementById("Contraseña").value;
            const minLength = 8;
            const uppercaseRegex = /[A-Z]/;
            const specialCharRegex = /[!#$%^&*()_+{}\[\]:;<>,.?~\\-]/;

            if (password.length >= minLength && uppercaseRegex.test(password) && specialCharRegex.test(password)) 
            {
                return true;
            } 
            else 
            {
                showErrorAlert("La contraseña debe tener al menos 8 caracteres, una letra en mayúscula y un carácter especial.");
                return false;
            }
        }

        function showErrorAlert(message) {
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: message
        });
        }
    </script>


</body>

</html>
