USE [master]
GO
/****** Object:  Database [BDLogin]    Script Date: 10/10/2023 02:12:30 ******/
CREATE DATABASE [BDLogin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDLogin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDLogin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDLogin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BDLogin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDLogin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDLogin]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/10/2023 02:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UserName] [varchar](500) NULL,
	[Contraseña] [varchar](500) NULL,
	[Mail] [varchar](500) NULL,
	[Telefono] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Usuario] ([UserName], [Contraseña], [Mail], [Telefono]) VALUES (N'Francisco', N'vyg_Talleres', N'franciscodominguez@gmail.com', 5071998)
GO
USE [master]
GO
